<h1>Agenda</h1>
<div id="test">
<form action="">
Nome: <input type="text" [(ngModel)]="contato.nome" [ngModelOptions]="{standalone: true}"/> <br> 
Telefone: <input type="text" [(ngModel)]="contato.telefone" [ngModelOptions]="{standalone: true}"/> <br>
Endereco: <input type="text" [(ngModel)]="contato.endereco" [ngModelOptions]="{standalone: true}"/> <br>
<button (click)="salvar()">Salvar</button>

<div id="test">
<table >

  <tr *ngFor="let c of contatos">
    <td>{{c.nome}}</td>
    <td>{{c.telefone}}</td>
    <td>{{c.endereco}}</td>
  </tr>

</table>
</div>
</form>
</div>


